In [25]:
import pandas as pd
df = pd.read_csv("E:/21KDT-Project-master/4. dms_seoul_avg.csv")

In [26]:
df.head()

,date,mosquito,temp,rain_per_day,accum_rain,wind,humidity,sunshine
0,2015-04-06,199,12.214286,5.285714,0,3.371429,68.757143,8.880000
1,2015-04-07,146,11.571429,4.928571,0,3.428571,65.742857,9.891429
2,2015-04-08,90,10.914286,4.571429,0,3.257143,63.542857,9.927143
3,2015-04-09,172,10.171429,0.571429,0,2.871429,59.614286,10.884286
4,2015-04-10,249,10.314286,0.071429,0,2.871429,53.485714,12.777143

In [41]:
Y = df['mosquito'].values 
X = df['sunshine'].values

In [42]:
import scipy.stats as stats
stats.pearsonr(X,Y)

(0.04348196077297352, 0.13666292275333172)

## 독립비교 t 검정 사용

In [44]:
t, p = stats.ttest_ind(df['mosquito'], df['temp'], equal_var=False)

p

1.0279785325437182e-266

In [55]:
t, p = stats.ttest_ind(df['mosquito'], df['rain_per_day'], equal_var=False)

p

2.095287559577762e-268

In [56]:
t, p = stats.ttest_ind(df['mosquito'], df['accum_rain'], equal_var=False)

p

4.2733392877839856e-268

In [47]:
t, p = stats.ttest_ind(df['mosquito'], df['wind'], equal_var=False)

p

1.1661190804792576e-268

In [48]:
t, p = stats.ttest_ind(df['mosquito'], df['humidity'], equal_var=False)

p

1.433559439095175e-262

In [49]:
t, p = stats.ttest_ind(df['mosquito'], df['sunshine'], equal_var=False)

p

2.610379071549505e-267