In [1]:
import pandas as pd
df = pd.read_csv("E:/21KDT-Project-master/4. dms_seoul_avg.csv")

In [2]:
df.head()

,date,mosquito,temp,rain_per_day,accum_rain,wind,humidity,sunshine
0,2015-04-06,199,12.214286,5.285714,0,3.371429,68.757143,8.880000
1,2015-04-07,146,11.571429,4.928571,0,3.428571,65.742857,9.891429
2,2015-04-08,90,10.914286,4.571429,0,3.257143,63.542857,9.927143
3,2015-04-09,172,10.171429,0.571429,0,2.871429,59.614286,10.884286
4,2015-04-10,249,10.314286,0.071429,0,2.871429,53.485714,12.777143

In [3]:
Y = df['mosquito'].values 
X = df['sunshine'].values

## 독립비교 t 검정 사용

- 독립비교 t 검정(t_test)이란 대응하는 데이터가 없고 독립된 두개의 표본 모집단에 정규분포를 가정할 수 있는 경우 평균값의 차이에 대한 검정
- t값이 클수록 두 집단의 평균은 차이가 있다고 판단하고 p-value 값이 설정한 유의수준(0.05)보다 작을 경우 95% 신뢰수준에서 두 집단의 평균   이 
  유의미하게 차이가 있다고 해석함. 결과 해석은 직관적으로 판단할수 있는 p-value를 주로 사용함!
- 유의수준(α) 을 0.05라고 가정할 때 유의확률(p값, p-value)이 0.05보다 작으면 평균 차이가 유의미한 것으로 해석되어 귀무가설을 기각함.

In [ ]:
import scipy.stats as stats

In [7]:
t, p = stats.ttest_ind(df['mosquito'], df['temp'], equal_var=False)

t, p

(46.26968606154769, 1.0279785325437182e-266)

In [8]:
t, p = stats.ttest_ind(df['mosquito'], df['rain_per_day'], equal_var=False)

t, p

(46.50744642744408, 2.095287559577762e-268)

In [9]:
t, p = stats.ttest_ind(df['mosquito'], df['accum_rain'], equal_var=False)

t, p

(46.46177641428918, 4.2733392877839856e-268)

In [10]:
t, p = stats.ttest_ind(df['mosquito'], df['wind'], equal_var=False)

t, p

(46.543535763156555, 1.1661190804792576e-268)

In [11]:
t, p = stats.ttest_ind(df['mosquito'], df['humidity'], equal_var=False)

t, p

(45.68766497307084, 1.433559439095175e-262)

In [12]:
t, p = stats.ttest_ind(df['mosquito'], df['sunshine'], equal_var=False)

t, p

(46.35342160844366, 2.610379071549505e-267)

### 'mosquito'와 다른 변수들간의 t 검정을 한 결과 p-value가 0.05 유의수준보다 낮으므로 귀무가설을 기각한다.